@*@model Nop.Plugin.Payments.Finans.Models.ResponsePageModel
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.Common
@using Nop.Web.Framework.UI
@{
    if (ViewBag.Iframe == true)
    {
        Layout = "~/Views/Shared/_RootPopup.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    }
}
<div>

    <h2>3D Secure Ödeme Sonucu</h2>
    <br />
    <h3>@Model.Sonuc</h3>

</div>*@